<% if resource.errors.any? %>
<div class="content-container mb-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <div id="error_explanation">
            <ul class="mb-0 pl-2">
              <% resource.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
