<div class="ml-auto">
  <button type="button" id="sidebarCollapse" class="btn btn-light toolbar-menu-button d-inline-block d-md-none">
    <span class="material-icons main-toolbar-icon">menu</span>
  </button>
</div>