body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:400;
  color:#333;
}
h3{
  font-weight:600;
  font-size: 26px;
}
h4, h5, h6 {font-weight: 600}
.header-hint {
  font-size: 16px;
  color:#656565;
}
.header-logo {height:18px;margin-top:-4px;}
form {
  font-size:18px;
}
.cursor-default {
  cursor: default;
}
.cursor-help {
  cursor: help;
}
/* Animations */
.blink_elem {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.25;
  }
}
@keyframes moving {
  100% {transform: rotate(-360deg);}
}
.rotate_elem {
  animation: moving 3s infinite linear;
}
.dropdown-button-link {
  font-size:16px;
}
.custom-form-group label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}
.custom-form-group input {
  font-size: 18px;
  padding: 25px 10px;
}
.custom-form-group-inner label {
  font-size: 16px;
  margin-bottom: 2px;
}
.custom-form-group-inner input {
  font-size: 16px;
  padding: 20px 10px;
}
.custom-form-group-inner textarea {
  font-size: 16px;
}

.form-link-small {
  font-size: 16px;
}

.custom-form-ckeckbox-label {
  font-size:16px;
  color:#555;
}


.simple-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.navbar-light .navbar-nav .nav-link {
  font-size:16px;
  font-weight:600;
  color: #454545;
}
.navbar-light .navbar-nav .nav-link:hover {
  color:#000;
  text-decoration: underline;
}

.items-list-delete-item {
  width:20px;
}
.main-dropdown-icon {
  font-size:22px;
  position:relative;
  top:6px;
  margin-right:4px;
}
.button-icon-sm {
  font-size:16px;
  position:relative;
  top:2px;
}
.button-icon {
  font-size:18px;
  position:relative;
  top:3px;
}
.modal-header {
  background-color: #eee;
}
.modal-header-icon {
  font-size:22px;
  position:relative;
  top:5px;
}
.btn-table-button {
  line-height:0;
  color:#aeaeae;
}
.btn-start-search-button:hover {
  color: #17a2b8;
}
.btn-del-button:hover {
  color: #dc3545;
}
.btn-table-icon {
  font-weight: 600;
  font-size: 22px;
}
.btn-log-item:hover {
  color:#333;
}

.table-keyword-date {
  font-size:12px;
  color:#656565;
}
.expand-icon {
  font-size:20px;
  position:relative;
  top:5px;
  color: #888;
}
.item-keyword-header {
  background-color: #fcfcfc;
  cursor: pointer;
}
.collapsing {
  -webkit-transition: height .01s ease;
  -o-transition: height .01s ease;
  transition: height .01s ease;
}
.expand-up {display: none;}
[aria-expanded="true"] .expand-down,
[aria-expanded="false"] .expand-up {
  display: none;
}
[aria-expanded="false"] .expand-down,
[aria-expanded="true"] .expand-up {
  display: inline-block;
}